@model decimal

@{
//Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProductTotal</title>
</head>
<body>
    <div>
        The Total value of the product is : @Model
    </div>
</body>
</html>
